tox==3.20.1
pytest==6.1.1
pytest-cov==2.10.1
pytest-xdist==2.1.0     # send tests to multiple CPUs
pytest-pep8==1.0.6
codecov==2.1.10
coveralls==2.1.2
coverage==5.3
coverage-badge==1.0.1
python-dotenv==0.14.0
argh==0.26.2
watchdog
mkdocs==1.1.2
mkdocs-material==6.1.0
mkdocstrings==0.13.6
markdown-include==0.6.0
mkdocs-git-revision-date-localized-plugin==0.7.2
flake8==3.8.4